body{
    align-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


button{
    background-color: teal;
    color:antiquewhite;
}
.container{
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
}
.imggg{
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
}
.temp{
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.main{
    
    display: flex;
}
.descr{
    margin-top: 20px;
    height: 60px;

}